<!doctype html>
<html>
<head>
    <title>Twitter Sentiment Analyzer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" media="screen" href="/dist/styles.css" />
</head>
<body id='app'>
<div class="container">